header .profile-pic {
  position: relative;
}
header .your-name {
  margin-top: -0.5em;
}

header.main-header {
  height: 400px;
  width: 100%;
  background-color: lavender;
  background-image: url("https://www.transparenttextures.com/patterns/transparent-square-tiles.png");
  text-align: center;
}

/************ DESKTOP VIEW ***************/
@media only screen and (min-width: 1024px) {
  header.main-header {
    float: left;
    width: 30%;
    border: 5px dotted #545149;
    margin-top: 4.5rem;
    margin-left: 5rem;
  }
}
