main .new-tweet {
  display: none;
  margin-top: 2.5rem;
}

form input {
  background-color:#4056A1;
  color: #FFF;
  font-family: "bungee";
  float: left;
}

form .counter {
  float: right;
  font-family: "bungee";
}

form textarea {
  border: 0;
  outline: 0;
  background: transparent;
  width: 100%;
  border-bottom: 3px solid #545149;
  font-weight: 600;
  height: 1.75em;
  color: #545149;
}

.new-tweet #error-messages {
  border: 2px solid red;
  color: red;
  margin: 1em;
  font-weight: 600;
  padding: 0.8em;
  display: none;
}


