article {
  margin-top: 3em;
  padding: 1em;
  border: 2px solid #545149;
}

header .name {
  float: left;
  padding-left: 0.5em;
  font-weight: 300;
}

header .name img {
  width: 1.5em;
  height: 1.5em;
  float: left;
}

header .hidden {
  visibility: hidden;
}

.tweet:hover .hidden {
  visibility: visible;
}

.tweet:hover {
  box-shadow: 10px 10px 10px grey
}

header .username {
  float: right;
  padding-right: 1em;
  font-weight: 400;
  color: grey;
}


article p.tweet-text{
  text-align: left;
  border-bottom: 3px solid #545149;
  width: 96%;
  margin-left: 2%;
  margin-top: 3em;
  height: 2em;
  overflow: auto;
}


footer .time-stamp {
  float: left;
  font-size: 12px;
  padding-left: 1em;
  font-weight: 300;
}

footer .social-icons img {
  padding: 2px;
  float: right;
  width: 1em;
  height: 1em;
}