article.tweet {
  margin-top: 3em;
  padding: 1em;
  border: 5px solid #545149;
  background-color: white;
}

header .name {
  padding-left: 0.5em;
  font-weight: 300;
}

header .name img {
  width: 1.5em;
  height: 1.5em;
  float: left;
}

header .hidden {
  visibility: hidden;
}

.tweet:hover .hidden {
  visibility: visible;
}

.tweet:hover {
  box-shadow: 10px 10px 10px grey;
}

header .username {
  padding-right: 1em;
  font-weight: 400;
  color: grey;
}


article p.tweet-text{
  text-align: left;
  border-bottom: 3px solid #545149;
  width: 96%;
  margin-left: 2%;
  margin-top: 3em;
  height: 2em;
  overflow: auto;
}

footer .time-stamp {
  font-size: 12px;
  padding-left: 1em;
  font-weight: 300;
}

.social-icons i {
  margin: 0.2em;
  font-size: 12px;
}

/* flex class to easily justify content*/
.flex {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

/************ MOBILE VIEW ***************/
@media only screen and (max-width: 600px) {
  article.tweet {
    margin-top: 2em;
    padding: 0.7em;
  }
  article p.tweet-text{
    margin-top: 1em;
    overflow: auto;
    font-size: 0.8em;
  }

  header .username {
    padding-right: 0.5em;
    font-weight: 300;
    font-size: 0.6em;
  }

  header .name {
    padding-left: 0.5em;
    font-weight: 300;
    font-size: 0.6em;
  }
}